name: flat

on:
  push:
    paths:
      - .github/workflows/flat.yml # Only run a new workflow every time this file (flat.yaml) file changes
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'
    
jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
    - name: Setup deno
      uses: denolib/setup-deno@v2
    - name: Check out repo
      uses: actions/checkout@v2
    - name: Fetch data
      uses: githubocto/flat@v2
      with:
        http_url: 'https://spreadsheets.google.com/feeds/cells/1coaXmKes8b3GUFDGbmb-Hj4bek1HOEI-WCmOF4tIHwI/1/public/full' 
        downloaded_filename: google-sheet.xml
    - name: Fetch data
      uses: githubocto/flat@v2
      with:
        http_url: 'https://spreadsheets.google.com/feeds/cells/1coaXmKes8b3GUFDGbmb-Hj4bek1HOEI-WCmOF4tIHwI/1/public/full?alt=json' 
        downloaded_filename: google-sheet.json
